/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}

img {
    width: 80px;
}

.hero {
    background-image: url(images/torshov.jpg);
    width: 100%;
    height: 238px;
    background-size: cover;
    padding-top: 18px;

}

.activities {
    background-color: #F1FAEE;
    width: 100%;
    height: 264px;
    padding-bottom: 18px;
    
}

.guide {
    background-color: white;
    width: 100%;
    height: 260px;
    padding-top: 36px;

}

.imgs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    padding-top: 10px;
    padding-bottom: 12px;
}

p {
    color: #1D3557;
    font-size: 12px;
    font-weight: 100;
    width: 160px;
    align-content: space-between;
    margin-top: 4px;
    
    
}

h1 {
    font-size: 24px;
    color: white ;
    width: 150px;
    margin-bottom: 10px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1D3557;
    padding:  2px 10px;
    border-radius: 8px;
    
}

h2 {
    color: white;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    background-color: #457B9D;
    width: 310px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    font-weight: 600;
    
}

h3 {
    color: #1D3557;
    font-size: 18px;
}

h4 {
    color: #1D3557;
    font-size: 12px;
    width: 150px;
    margin-top: 12px;
    margin-bottom: 8px;
    font-weight: 700;
    
}

.border-radius {
    border-radius: 100px;
}

.card {
    display: flex;
    width: 282px;
    height: 200px;
    background-color: #A8DADC;
    padding-top: 16px;
    padding-left: 14px;
    border-radius: 8px;
    padding-right: 5px;
    justify-content: center;
    padding-bottom: 2px;
    border-bottom: 5px solid #1D3557;
    margin-left: auto;
    margin-right: auto;
}

.img2 img {
    height: 185px;
    width: 135px;
    border-radius: 10px;
    margin-right: 2px;
}

.cardtext {
font-style: italic;
width: 150px;
padding-bottom: 6px;
}


